
.banner {
    font-size:2rem;
    visibility: hidden;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    text-align: center;
    background-color: var(--culoare5);
    opacity:80%;
    animation: banner_style 6s linear;
    margin: 0;
    height: 6rem;
    display: static;
  }
  
  @keyframes banner_style {
    0% {
      color: #b700ff;
      bottom: -100%;
      visibility: visible;
    }
    25% {
      color: rgb(25, 0, 255);
      bottom: 1.2em;
    }
    50% {
        color: rgb(51, 255, 0);
        bottom: 0;
      }
    100% {
        color: #ff00d4;
        visibility: hidden;
    }
  }
  