
#ivideos{
    grid-area: ivideos;
    padding:var(--intern-padding);
    margin:0;
    border:0;
    background: transparent;
  }
  iframe {
    width:90%;
    max-width: 55rem;
  }
  #tab-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #tab-links a {
    font-size: 1.1em;
    text-decoration: none;
    width: 5em;
  
    height: 2em;
    border: 0.05em solid black;
    border-bottom: none;
  
  
    border-radius: 0.7em 0.7em 0 0;
    box-shadow: 0.3em 0 0.3em -0.2em grey, 0 -0.25em 0.3em 0.3em grey,
      -0.2em 0 0.1em -0.1em grey;
    background-color: var(--culoare1);
    color: black;
    text-align: center;
    margin-right: 1em;
  }
  
  #tab-links a + a {
    margin-left: -.3em;
  }
  
  #tab-links a:hover {
    color: black;
  
    background-color: var(--culoare2);
  }
  