.gotop {
    position: fixed;
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background: var(--culoare1);
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 0.2em solid red;
    text-decoration: none;
    text-align: center;
    color: var(--culoare4);
    opacity: 50%;
    box-shadow: 0 0 0.7em black;
  }
  
  .gotop:hover {
    transition: 300ms;
    opacity: 100%;
    box-shadow: 0 0 1.7em black;
  }
  #triangle {
    font-size: 2.8rem;
    position: absolute;
    bottom: 0.05rem;
    right: 0.55rem;
  }