/*importuri*/
@import "nav_1.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
body {

  margin-top: 0;
  margin-bottom: 0;
  --body-padding: 2.5rem;
  --intern-padding: 1rem;
  --culoare1: #db2b25;
  --culoare2: lightblue;
  --culoare3: #1c3555;
  --culoare4: whitesmoke;
  --culoare5: #16181e;

  /*am adaugat doua imagini de background separandu-le cu virgula*/
  background-image: linear-gradient(
      transparent,
      transparent 5%,
      white 50%,
      transparent 70%,
      transparent
    ),
    url("../Poze/backgr.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
  padding-top: 0;
  padding-bottom: 0;

  min-width: 330px; /*latimea minima trebuie sa fie mai mica decat orice dispozitiv pentru a evita scrollbar-ul orizontal*/
}

h1 {
  color:var(--culoare5);
  font-size: 3rem;
  text-shadow: 0 0 0.01em white, 0 0 0.02em white, 0 0 0.03em white,
    0 0 0.03em white, 0 0 0.3em white;
  font-family: Bradley Hand, cursive;
  letter-spacing: 0.2em;
  
}
h1 >span{
  color:var(--culoare1);
}
h1 > img {
  height:6rem;
  position: absolute;
  
}
main {
  background: rgb(171, 170, 159,.5);
  
  border-left: 0.1em solid grey;
  border-right: 0.1em solid grey;
  display: grid;
  grid-template-areas:
    "zona1 zona1 zona1 zona1"
    "zona1 zona1 zona1 zona1"
    "zona3 zona2 zona2 zona4"
    "zona5 zona2 zona2 zona4"
    "zona5 zona6 zona6 zona7"
    "zona8 zona8 zona8 zona8";
  padding: var(--intern-padding);
  grid-gap: 1.5rem;
}
main section {
  border: 0.2em solid black;
  border-radius: 1em;
  padding: 1rem;
  background: rgb(245,245,245,.5);
}
main section#zona1 {
  grid-area: zona1;
  font-size: 1.1em;
  margin-top: var(--body-padding);
}
main section#zona1 p {
  margin-top: 1em;
}
main section#zona2 {
  grid-area: zona2;
}
main section#zona3 {
  grid-area: zona3;
}
main section#zona4 {
  grid-area: zona4;
}
main section#zona5 {
  grid-area: zona5;
}
main section#zona6 {
  grid-area: zona6;
}
main section#zona7 {
  grid-area: zona7;
}
main section#zona8 {
  grid-area: zona8;
}

hr#hr-stil {
  border: none;
  border-top: 0.15em solid;
  border-color: var(--rosu);
  overflow: visible;
  text-align: center;
  height: 0.3em;
  width: 85%;

  display: block;
}

hr#hr-stil:after {
  content: "✈";
  font-size: 2.5em;
  padding: 0 0.25em;
  right: 57%;
  position: relative;
  top: -0.75em;
}
hr#hr-stil:before {
  content: "✈";
  font-size: 2.5em;
  padding: 0 0.25em;
  left: 57%;
  position: relative;
  top: -0.75em;
}

/* tabelul */
table,
th,
td {
  text-align: center;
}
#zona2{
  overflow: auto;
}

main section#zona2 table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}
table th {
  font-weight: bold;
  color: var(--culoare5);
  background-color: var(--culoare1);
  padding: 0.6em;
}
table td {
  padding: 0.5em;
}
table tr td:nth-child(odd) {
  background-color: var(--culoare4);
}
table tr td:nth-child(even) {
  background-color: var(--culoare2);
}
table tfoot tr td:nth-child(n) {
  border-top: 0.1em solid #101010;
  background-color: var(--culoare1);
}
table td:nth-child(1) {
  border-right: 0.1em solid #101010;
}
table td:nth-child(2) {
  border-right: 0.1em solid #101010;
}
table td:nth-child(3) {
  border-right: 0.1em solid #101010;
}
table td:nth-child(4) {
  border-right: 0.1em solid #101010;
}

table tr:hover td {
  background-color: var(--culoare3);
  color:var(--culoare4);
}

/*iframe*/
#zona8 {
  text-align: center;
  padding:0;
  padding-top:2rem;
  padding-bottom :7rem;
  display: grid;
  grid-template-areas:
    "ivideos ivideos"
    "steps steps"
    "detalii carousel";
    grid-template-columns: 2fr 3fr;
  justify-content: center;
  grid-gap:3rem;
}
#zona8 section{
  border:0;
  background: transparent;
}
#ivideos{
  grid-area: ivideos;
  padding:var(--intern-padding);
  margin:0;
  border:0;
  background: transparent;
}
#steps{
  grid-area: steps;
  text-align: left;
  padding-left:2rem;
}

details > summary {
  background-color: var(--culoare3);
  color:var(--culoare4);
  cursor: pointer;
  padding: .5rem 1rem;
}

details > summary > * {
  display: inline;
}

details > p, details > ol {
  border: 2px solid var(--culoare3);
  margin-top: 0;
  padding: 1rem;
}
details  li{
  margin-left: 1rem;
}

#detalii{
  grid-area:detalii;
}
#carousel{
  grid-area:carousel;
  display: flex;
  justify-content: center;
  position: relative;
  padding:0;
  margin:0;
  
}
#carousel img{
  width:80%;
  height:auto;
}
iframe {
  width:90%;
  max-width: 55rem;
}
#tab-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#tab-links a {
  font-size: 1.1em;
  text-decoration: none;
  width: 5em;

  height: 2em;
  border: 0.05em solid black;
  border-bottom: none;


  border-radius: 0.7em 0.7em 0 0;
  box-shadow: 0.3em 0 0.3em -0.2em grey, 0 -0.25em 0.3em 0.3em grey,
    -0.2em 0 0.1em -0.1em grey;
  background-color: var(--culoare1);
  color: black;
  text-align: center;
  margin-right: 1em;
}

#tab-links a + a {
  margin-left: -.3em;
}

#tab-links a:hover {
  color: black;

  background-color: var(--culoare2);
}

footer {
  background-color: var(--culoare3);
  color: var(--culoare4);
  padding-left: var(--intern-padding);
  padding-right: var(--intern-padding);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size:1rem;
}
footer a{
  color:var(--culoare4);
}
.gotop {
  position: fixed;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background: var(--culoare1);
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 0.2em solid red;
  text-decoration: none;
  text-align: center;
  color: var(--culoare4);
  opacity: 50%;
  box-shadow: 0 0 0.7em black;
}

.gotop:hover {
  transition: 300ms;
  opacity: 100%;
  box-shadow: 0 0 1.7em black;
}
#triangle {
  font-size: 2.8rem;
  position: absolute;
  bottom: 0.05rem;
  right: 0.55rem;
}
.banner {
  font-size:2rem;
  visibility: hidden;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  text-align: center;
  background-color: var(--culoare5);
  opacity:80%;
  animation: banner_style 6s linear;
  margin: 0;
  height: 6rem;
  display: static;
}

@keyframes banner_style {
  0% {
    color: #b700ff;
    bottom: -100%;
    visibility: visible;
  }
  25% {
    color: rgb(25, 0, 255);
    bottom: 1.2em;
  }
  50% {
      color: rgb(51, 255, 0);
      bottom: 0;
    }
    100% {
      color: #ff00d4;
      visibility: hidden;
  }
}



