html{
    font-size:14px;
}
body{
    --body-padding:1.5rem;
    margin:0;
}
main{
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    "zona1 zona1 "
    "zona1 zona1 "
    "zona2 zona2"
    "zona2 zona2"
    "zona3 zona4"
    "zona5 zona4"
    "zona5 zona7"
    "zona6 zona6"
    "zona8 zona8";
    padding:var(--intern-padding);
    grid-gap:1.5rem;
}
#zona8{
    grid-template-areas:
    
    "ivideos ivideos"
    "steps steps"
    "detalii detalii"
    "carousel carousel";
}
#carouselimg{
    width:10rem;
}

hr#hr-stil:after {
    right: 61%;
  }
  hr#hr-stil:before {
    left: 61%;
  }

#tab-links p a{
    width: 4.35em;
}
main section#zona2 table{
    width:140%;
}
iframe{
    
    max-width:50em;
    width:100%;
    max-height:30em;
}