$a: 1;
@keyframes growOut {
  0% {
     transform: scale(0)
 }
 100% {
     transform: scale(1)
 }
}
nav {
  width:100%;
  background-color:green ;
  height:1.1em;
  line-height: 1.1em;;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: left;
    #home_btn {
      a {
        color: green;
      }

      &:hover {
        color: yellow;
        background-color: darkred;
        transition: linear 0.5s;
      }
    }
    li {
      display: inline-block;
      text-align: center;
      width: 15%;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      font-size: 1.33rem;
      a {
        color: #fff;
      }

      &:hover {
        background: red;
        cursor: pointer;
        transition: linear 0.5s;
        > ul {
          visibility: visible;
          opacity: 1;
          display: block;
          transition: linear 0.5s;
        }
      }

      .icon {
        position: relative;
        top: -4px;
        left: -5px;
      }
      ul {
        animation: growOut .8s ease-in-out forwards;
        transform-origin: top center;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        margin-top: 1.7rem;
        left: 0;
        display: none;
        li {
          clear: both;
          width: 100%;
        }
      }

      &:focus-within > ul,
      ul:hover {
        
        visibility: visible;
        opacity: 1;
        display: block;
        
      }
    }
  }

  a {
    text-decoration: none;
  }
}
